table{
  border:5px solid white;
  width:800px;
  
}

td{
  
  border:2px solid white;
}

img{
  height:50px;
  width:50px;
}

th{
  border:1px solid white;
  
}
a:active{
  color:blue;
}

#content{
 width: 70%;
    margin: 0 auto; 
  
}

body{
  background-color:brown;
  color:white;
  font-style:italic;
  
}